# =========================
# Java / Gradle / Spring Boot
# =========================
**/.gradle/
**/build/
**/out/

# IntelliJ IDEA
**/.idea/
**/*.iml

# Logs
**/*.log

# =========================
# Node / React / Vite
# =========================
**/node_modules/
**/dist/

# Environment files
**/.env
**/.env.*
!.env.example

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
**/.git/